body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
  }
  
button {
    width: 120px;
    height: 60px;
    background-color: #4CAF50;
}

button:hover {
	background-color: #3e8e41;
}